/*header {
    text-align: center;
    background-color: lavender;
    padding: 20px 0;
    height: 100px;
    box-sizing: border-box;
}*/

:host {
  width: 100%;
}

.home-component {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}